extends layout

block content
  h1= title
  hr
  .row
    .col-sm-6
      h3 Stocks
      
      for result in stocks
        p #{result.ticker} 

          form.form-inline(method='POST')
            button.btn.btn-light(value = result.ticker, name = 'add1', type = 'submit') Add 1
            button.btn.btn-primary(value = result.ticker, name = 'add5', type = 'submit') Add 5
            input.form-control(type='custom', name='custom', placeholder='Add Custom')
            button.btn.btn-success(value = result.ticker, name = 'submit', type='submit')
              | Submit

      hr
      h3 Reset
      p
      form.form-inline(method='POST')
          button.btn.btn-danger(value = 'prices', name = 'resetprices', type = 'submit') Reset Prices
          button.btn.btn-danger(value = 'all', name = 'resetall' type = 'submit') Reset All


      //add fetch api and post methods so it doesnt reset everytime
          

          

          
  